<%- include('./partials/links.ejs') %>
<%- include('./partials/navbar.ejs') %>

    <h1>CONTACTTT MEEE FORM</h1>

    <% if (locals.content) { %>
      <h3> <%= content %></h3>
      <%} else { %>
      <h3 style="display: none;"></h3>
      <% } %>

    <form action="/contact" id="contactform" class="form" method="POST">
      <input class="name child" type="text" placeholder="Name" name="name" maxlength="20"  required/>
      <input class="surname child" type="text" placeholder="Surname" name="surname" maxlength="20"  required/>
      <input class="email child" type="email" placeholder="Email" name="email" required/>
      <textarea class="message child" type="text" placeholder="message" name="message" maxlength="1000" form="contactform" rows="10" required></textarea>>
      <button type="submit child">Send</button>
    </form>

    

<%- include('./partials/footer.ejs') %>

    <%- include('./partials/scripts.ejs') %>