<%- include('./partials/links.ejs') %>
<%- include('./partials/navbar.ejs') %>

<h1>What is ISS location?</h1>
    

<% if (locals.content) { %>
  <div id="weatherDiv">
    <h4> The coordinates of the current location are: %></h4>
    <p> Latidute: <%= locals.content.lat %></p>
    <p> Longtitude: <%= locals.content.lon %></p>
  </div>
  <%} else { %>
    <div class="issDiv">
      <form id="form" action="/iss" method="POST">
        <button id="but" type="submit">Find out</button>
        <!-- <input id="input" class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
        <button id="but" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for Location</button> -->
      </form>
    </div>
  <% } %>

<%- include('./partials/footer.ejs') %>

    <%- include('./partials/scripts.ejs') %>