<%- include('./partials/links.ejs') %>
<%- include('./partials/navbar.ejs') %>

    <h1>Apply Sunscreen?</h1>
    

    <% if (locals.content) { %>
      <div id="weatherDiv">
        <p> Time: <%= locals.content.time %></p>
        <p> UV: <%= locals.content.uv %></p>
        <% if (locals.content.uv > 4.5) {%>
          <h3 class="red">You should put on Sunscreen protection.</h3>
        <%} else {%>
          <h3 class="green">You are safe!</h3>
        <% } %>
        <a class="searchAgain" href="/" style="padding: 20px;">Search again</a>
      </div>
      <%} else { %>
        <div class="uvDiv">
          <form id="form" action="/uv" method="POST">
            <input id="input" type="text" placeholder="Location" name="location" required/>
            <button id="but" type="submit">Search</button>
            <!-- <input id="input" class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
            <button id="but" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for Location</button> -->
          </form>
        </div>
      <% } %>

<%- include('./partials/footer.ejs') %>


<%- include('./partials/scripts.ejs') %>